.img-box {
  display: block;
  overflow: hidden;
  position: relative;

  &__img {
    width: 100%;
    height: auto;
    display: block;

    @include transition(transform);

    &:hover {
      transform: scale(1.05, 1.05);
    }
  }
}