.link {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: inherit;
  transition: all .3s .1s;

  &:hover {
    border-bottom-color: transparent;
  }

  &_highlight {

    &:hover {
      color: $deep-blush;
    }
  }
}