.sublist {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 15px;
  color: $gray;

  @include render(tablet) {
    font-size: 17px;
    line-height: 17px;
  }

  @include render(desktop_hd) {
  	font-size: 20px;
  	line-height: 20px;
  }

  &__item {

    @include render(tablet) {
      display: inline-block;

      &:nth-child(odd) {
        text-align: right;
        padding-right: 9px;
        border-right: 1px solid rgba($oslo-gray, .35);
      }

      &:nth-child(even) {
        text-align: left;
        padding-left: 9px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @include render(tablet) {
        margin-bottom: 0;
      }
    }
  }
}